body {
    display: flex; /* Ativa o modelo Flexbox, um sistema de layout moderno. Ele permite alinhar elementos filhos (no caso, a .container) com facilidade. */
    justify-content: center; /* Alinha o conteúdo horizontalmente (no eixo X) no centro da tela. */
    align-items: center; /* Alinha o conteúdo verticalmente (no eixo Y) no centro da tela. */
    margin: 0; /* Remove a margem padrão que todo navegador aplica no body. Sem isso, o conteúdo nunca fica 100% centralizado na tela. */
    min-height: 100vh; /* Faz o body ocupar 100% da altura visível da janela do navegador (viewport height). Assim, conseguimos centralizar mesmo que o conteúdo seja pequeno. */
    font-family: 'Poppins', sans-serif;
    background-image: url(../imagens/relogioback.png);
    background-size: cover;
    background-position: center;
    color: #ff80ff;
}

.container {
    font-size: 35px;
    margin-bottom: 80px;
    color: #ffffff;
    text-align: center;
    line-height: 50px;
    border-radius: 50px;
    background-color: rgba(255,0,255,0.1);
    padding: 30px;
}

.header {
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 50px;
    padding: 20px;
    color: rgba(255, 255, 255, 0.1);
}

.button {
  padding: 15px 40px;
  font-size: 22px;
  background-color: #25002e;
  border: 1px solid #ff00ff;
  color: #fff;
  border-radius: 12px;
  transition: 0.3s;
  cursor: pointer;
}

.button:hover {
  background-color: #00e1ff;
  color: #1100ff;
  box-shadow: 0 0 20px #ff00ff, 0 0 40px #00eeff;
}

.button.active {
  background-color: #00e1ff; /* verde neon */
  color: #000;
  border-color: #0037ff;
  box-shadow: 0 0 15px #0037ff, 0 0 30px #0037ff;
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 30px; 
  margin-top: 30px;
}

#display {
  font-size: 80px; 
  font-weight: bold; 
  color: white; 
  margin: 50px;
  text-shadow: #fff;
}

.neon {
  text-align: center;
  color: #fff;
  font-size: 4rem;
  text-shadow: 0 0 10px #0ff, 0 0 20px #0ff;
}

.neon .top {
    display: block;
    margin-bottom: 10px;
}

.neon .bottom {
    display: block;
}



