body {
    display: flex; /* Alinha elementos filhos no centro */
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-image: url(../imagens/relogioback.png);
    background-size: cover;
    background-position: center;
    color: #ff80ff;
}

.container {
    font-size: 2rem;
    margin-bottom: 5rem; 
    color: #ffffff;
    text-align: center;
    line-height: 1.5rem;
    border-radius: 50px;
    background-color: rgba(255,0,255,0.1);
    padding: 2rem;
}

.header {
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 3rem; 
    padding: 1rem;
    color: rgba(255, 255, 255, 0.1);
}

.button {
  padding: 1rem 2rem;
  font-size: 1.2rem; 
  background-color: #25002e;
  border: 1px solid #ff00ff;
  color: #fff;
  border-radius: 12px;
  transition: 0.3s;
  cursor: pointer;
}

.button:hover {
  background-color: #00e1ff;
  color: #1100ff;
  box-shadow: 0 0 20px #ff00ff, 0 0 40px #00eeff;
}

.button.active {
  background-color: #00e1ff;
  color: #000;
  border-color: #0037ff;
  box-shadow: 0 0 15px #0037ff, 0 0 30px #0037ff;
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 1rem; 
  margin-top: 2rem; 
  flex-wrap: wrap; /* permite quebrar linha em telas pequenas */
}

#display {
  font-size: clamp(2rem, 10vw, 5rem);
  font-weight: bold;
  color: white;
  margin: 3rem 0; 
  text-shadow: #fff;
  text-align: center;
}

.neon {
  text-align: center;
  color: #fff;
  font-size: 4rem;
  text-shadow: 0 0 10px #0ff, 0 0 20px #0ff;
}

.neon .top {
    display: block;
    margin-bottom: 10px;
}

.neon .bottom {
    display: block;
    padding: 8%;
}

/* -------------------------
   MEDIA QUERIES PARA RESPONSIVIDADE
-----------
